.calendar-day .calendarDay {
    display: inline-block;
    text-align: center;
    margin: 0;
    position: sticky;
    inset-block-start: 0;
    background-color: var(--white);
}

.calendar-day .calendarDay span:nth-of-type(1){
    font: var(--body1-medium);
}

.calendar-day .calendarDay span:nth-of-type(2){
    font: var(--subtitle-subtitle1);
    inline-size: 2.75rem;
    line-height: 2.75rem;
    display: inline-block;
    border-radius: 50%;
}

.calendar-day .calendarDay.is-selected span:nth-of-type(1){
    color: var(--blue10);
}

.calendar-day .calendarDay.is-selected span:nth-of-type(2){
    background-color: var(--blue10);
    color: var(--white);
}
