.currentTime {
    block-size: 2px;
    inline-size: 5rem;
    background-color: var(--red10);
    position: absolute;
    inset-block-start: 220px;
    inset-inline-start: 310px;
    z-index: 2;
}

.currentTime::before {
    content: '';
    display: block;
    background-color: var(--red10);
    inline-size: 1rem;
    block-size: 1rem;
    border-radius: 50%;
    transform: translateY(-50%);
}