.page {
    display: grid;
    grid-template-rows: 6rem 1fr;
    grid-template-columns: 15.25rem 1fr;
    grid-template-areas: 'header header' 'sidebar calendar';
    block-size: 100vh;
}

.page .header {
    grid-area: header;
}

.page .sidebar {
    grid-area: sidebar;
}

.page .calendar {
    /* border: 5px solid palegreen; */
    grid-area: calendar;
}