.search {
    position: relative;
}

.search i {
    position: absolute;
    inset-block-start: calc(50% - .5rem);
    inset-inline-start: 1rem;
    font-size: 1rem;
    color: var(--gray50);
}

.search-input {
    max-inline-size: 12.25rem;
    inline-size: 100%;
    background-color: var(--gray10);
    padding-block: .625rem;
    padding-inline-start: 2.5rem;    
    border: none;
    border-radius: .25rem;
}

.search-input::placeholder {
    color: var(--gray20);
    font: var(--body1-regular);
}